<ion-header>
  <ion-toolbar>
    <ion-title> Calculo Sin Exámen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    
    <ion-col>
      <ion-button color="primary" (click)="se32()" >32</ion-button>
  </ion-col>
  <ion-col>
          <ion-button color="primary" (click)="se64()" >64</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="primary" (click)="se96()" >96</ion-button>
          
        </ion-col>
        <ion-col>
          <ion-button color="primary" (click)="se128()" >128</ion-button>
      </ion-col><br>
      
      <ion-col>
          <ion-button color="secondary" (click)="volver()" >Volver</ion-button>    
          <ion-button color="primary" (click)="verhome()" > Home</ion-button>
      </ion-col>
      
    </ion-grid>

</ion-content>
